*.a
*.app

html
latex

#VS/Windows related
*.ilk
*.lastbuildstate
*.unsuccessfulbuild
*.lib
*.sdf
*.suo
*.obj
*.tlog
*.log
*.pdb
*.cache
*.exe
*.opensdf
*.idb
*.res
*.rc

#XCode related
UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
